@model IEnumerable<HprEnd.Models.Uzytkownik>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Uzytkownikow</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Uzytkownik">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Uzytkownik">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Uzytkownik">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
