@model IEnumerable<HprEnd.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Movies</h1>

<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search for a movie" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_wydania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film_Kategoria)
            </th>
            <th>
            @{
                var userRoleCookie = Context.Request.Cookies["UserRole"];
                @if (!string.IsNullOrEmpty(userRoleCookie))
                {
                    int role;
                    if (int.TryParse(userRoleCookie, out role))

                        @if (role == 1 || role == 2)
                        {
                            <p>
                                <a asp-action="Create">Create New</a>
                            </p>
                        }
                }
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_wydania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film_Kategoria.Nazwa)
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID_Film">Details</a>
                    @{
                        @if (!string.IsNullOrEmpty(userRoleCookie))
                        {
                            int role;
                            if (int.TryParse(userRoleCookie, out role))
                            {
                                if (role == 1 || role == 2)
                                {
                                    <a asp-action="Edit" asp-route-id="@item.ID_Film">Edit</a>
                                    <a asp-action="Delete" asp-route-id="@item.ID_Film">Delete</a>
                                }

                            }
                        }
                    }
                </td>
        </tr>
}
    </tbody>
</table>
